APP_NAME=AgentFlow
APP_VERSION=0.1.0
API_PREFIX=/api
ENVIRONMENT=development
DEBUG=true

GEMINI_API_KEY=

DATABASE_URL=
QDRANT_URL=

JWT_SECRET=
ACCESS_TOKEN_EXPIRE_MINUTES=30

LANGSMITH_API_KEY=
LANGSMITH_TRACING=false
LANGSMITH_PROJECT=agentflow